<mat-card class="login-card">
  <mat-card-header class="login-header">
    <mat-card-title>Forgot password? Reset it!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
              </label>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput type="password" placeholder="New Password" [(ngModel)]="password" name="password" required>
              </label>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-content>
    <p>You need access to the email so we can identify you!</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="resetPassword()" color="primary">Reset password</button>
  </mat-card-actions>
</mat-card>

