<mat-card class="login-card">
  <mat-card-header class="login-header">
    <mat-card-title>User registration</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="First name" [(ngModel)]="firstname" name="firstname" required>
              </label>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <label>
                <input  matInput placeholder="Last name" [(ngModel)]="lastname" name="lastname" required>
              </label>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <label>
                <input label="email" matInput placeholder="Email" [(ngModel)]="email" name="email" required>
              </label>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password" required>
              </label>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Phone number" [(ngModel)]="phoneNumber" name="phonenumber" type="password" required>
              </label>
            </mat-form-field>
          </td>
        </tr>

        <tr *ngIf="imageSrc != null">
          <td>
            <img [src]="imageSrc" alt="your image" [width]="imageWidth" [height]="imageHeight">
          </td>
        </tr>
      </table>
    </form>
    <form class="example-form">
      <table class="example-full-width">
        <tr>
          <td>
            <input hidden type="file" #upploader (change)="uploadFile($event)" accept=".png,.jpg,.bmp" required/>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
    <button mat-raised-button (click)="upploader.click()" color="primary">
      <span>Upload profile picture </span>
      <mat-icon>cloud_upload</mat-icon>
    </button>
  <mat-card-actions>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button (click)="addUser()" color="primary">Register</button>
  </mat-card-actions>
</mat-card>

