.login-card{
  width: 80%;
  height: auto;
  margin: auto;
  text-align: center;
  margin-top: 10vh;
  background: #1175A3;
}

.login-header{
  margin: auto;
  width: 50%;
  padding: 10px;
  padding-top: 10vh;
}
.example-form{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.dividers{
  background: #424242;
}
.mat-card .mat-divider-horizontal {
  position: absolute;
  left: 0;
  margin-left: 1.2%;
  width: 97.5%;
}
.mat-grid-tile {
  background: #1175A3;
}

.example-full-width{
  width: 98%;
  height: auto;
  margin-left: 1%;
  text-align: center;
}
.expand{
  width: 100% !important;
  height: 100% !important;
  position: initial;
  width: 100px;

}
.step1{
  width: 100%;
  background: #1175A3;;
}
.descriptionarea{
  width: 600px;
  height: 300px;
}

.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
}
.discardbutton{
  margin-left: 20px;
}
