<mat-toolbar color="primary">
  <mat-toolbar-row>

    <app-main-nav *ngIf="user != null"></app-main-nav>
    <span><!--suppress CheckImageSize -->
      <img src="../assets/logo.png" width="230px" height="83px"  alt="site-logo"></span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <button mat-raised-button class="bookinglistbutton" color="primary" *ngIf="user != null" routerLink="/userBookTable">
      <mat-icon>menu_book</mat-icon> You're booking list
    </button>
    <div class="container-center" *ngIf="user != null" [matMenuTriggerFor]="menuUser">
      <img [src]="profileImg" [width]="profileWidth" [height]="profileHeight" alt="Profile picture"/>
    </div>
    <button *ngIf="user != null" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuUser="matMenu">
      <button mat-menu-item routerLink="addGroup" (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </button>

      <button mat-menu-item routerLink="ownerPage">
        <mat-icon>add_circle</mat-icon>
        <span>Become owner</span>
      </button>
    </mat-menu>
    <mat-menu #menu="matMenu">


      <button mat-menu-item routerLink="ownerPage">
        <mat-icon>hotel</mat-icon>
        <span>Hotel Palace</span>
      </button>

      <button mat-menu-item routerLink="ownerPage">
        <mat-icon>hotel</mat-icon>
        <span>Hotel Prezident</span>
      </button>
<mat-divider></mat-divider>
      <button mat-menu-item routerLink="ownerBookTable">
        <mat-icon>menu_book</mat-icon>
        <span>Hotel Palace books</span>
      </button>

      <button mat-menu-item routerLink="ownerBookTable">
        <mat-icon>menu_book</mat-icon>
        <span>Hotel Prezident books</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

