<mat-card class="login-card">
  <mat-card-header class="login-header">
    <mat-card-title>You're bookings</mat-card-title>
  </mat-card-header>
  <mat-card-content class="dividers">
      <table mat-table
             [dataSource]="dataSource" multiTemplateDataRows
             class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef> {{column}}</th>
          <td mat-cell *matCellDef="let element"> {{element[column]}}</td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <img src="{{element.hotelimage}}" width="20%" height="20%">
              <div class="example-element-description">
                <mat-list class="roomslist">
                  <mat-list-item><h4>Number & type of rooms</h4></mat-list-item>
                  <mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                  <mat-list-item *ngFor="let room of element.rooms"> {{room.roomnumbers}} X {{room.roomtype}} rooms
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="example-element-description">
                <mat-list *ngIf="(element.personsB != null || element.personsL != null || element.personsD != null)"
                          class="foodlist">
                  <mat-list-item><h4>Food</h4></mat-list-item>
                  <mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                  <mat-list-item *ngIf="element.personsB != null"> Breakfast X {{element.personsB}} persons
                  </mat-list-item>
                  <mat-list-item *ngIf="element.personsL != null"> Lunch X {{element.personsL}} persons</mat-list-item>
                  <mat-list-item *ngIf="element.personsD != null"> Dinner X {{element.personsD}} persons</mat-list-item>
                </mat-list>
              </div>
              <div [style.color]="element.colored" class="example-element-description">
                <mat-list class="statuslist">
                  <mat-list-item *ngIf="element.BookingRequestStatus === 'waiting' "> {{element.requestdate}}
                  </mat-list-item>
                  <mat-list-item *ngIf="element.BookingRequestStatus === 'aproved' "><h4>Contact:</h4></mat-list-item>
                  <mat-list-item>
                    <mat-divider *ngIf="element.BookingRequestStatus === 'aproved' "></mat-divider>
                  </mat-list-item>
                  <mat-list-item *ngIf="element.BookingRequestStatus === 'aproved' ">{{element.ofirstname}}
                    {{element.olastname}}
                  </mat-list-item>
                  <mat-list-item *ngIf="element.BookingRequestStatus === 'aproved' ">{{element.ophone}}
                  </mat-list-item>
                  <mat-list-item *ngIf="element.BookingRequestStatus === 'aproved' ">{{element.oemail}}
                  </mat-list-item>
                  <mat-list-item *ngIf="element.BookingRequestStatus === 'finished' "><h4>RATE US !!!</h4>
                  </mat-list-item>
                  <mat-list-item *ngIf="element.BookingRequestStatus === 'finished' ">
                    <mat-divider></mat-divider>
                  </mat-list-item>

                  <mat-list-item *ngIf="element.BookingRequestStatus === 'finished' ">
                    <ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span></ng-template>
                    <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="false" max="5"></ngb-rating>
                    <hr>
                  </mat-list-item>
                  <mat-list-item *ngIf="element.BookingRequestStatus === 'finished' ">
                    <h4>
                      <pre>Rate: <b>{{currentRate}}</b></pre>
                    </h4>
                  </mat-list-item>
                  <mat-list-item *ngIf="element.BookingRequestStatus === 'finished'"></mat-list-item>
                  <mat-list-item *ngIf="element.BookingRequestStatus === 'denied' "><h4>We are sorry but we DON'T HAVE
                    FREE
                    ROOM!!!</h4>
                  </mat-list-item>
                </mat-list>

              </div>
              <div class="example-element-description">
                <mat-list class="totalprice">
                  <mat-list-item *ngIf="element.BookingRequestStatus != 'denied' "><h2> Total price
                    {{element.totalprice}} lei</h2></mat-list-item>
                </mat-list>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element"
            [ngStyle]="{'background': element.colored,
            'opacity': 0.5}">

        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

  </mat-card-content>
</mat-card>
