<mat-card class="login-card">
  <mat-card-header class="login-header">
    <mat-card-title>Welcome on Wise Traveller!</mat-card-title>
  </mat-card-header>
  <mat-card-content class="dividers">
    <table class="example-full-width">


      <mat-list class="divid">
        <mat-list-item>
          <span>Near you</span>
        </mat-list-item>
        <!--<button mat-button (click)="selected = all[0];">text</button>-->
        <!--<button mat-button (click)="selected = all[1]">text</button>-->
        <!--<div *ngIf="selected != null">-->
          <!--<img [src]="selected.image" />-->
          <!--<p>{{selected.text}}</p>-->
        <!--</div>-->
        <mat-grid-list cols="5" rowHeight="1:1">
          <!--<mat-grid-tile>-->
          <!--<mat-expansion-panel class="mat-grid-tile">-->

              <!--<mat-expansion-panel-header>-->

                <!--<mat-panel-title>-->
                  <!--1-->
                <!--</mat-panel-title>-->

                <!--<mat-panel-description>-->
                  <!--primul-->
                <!--</mat-panel-description>-->

              <!--</mat-expansion-panel-header>-->
<!--FIRST-->
          <!--</mat-expansion-panel>-->
          <!--</mat-grid-tile>-->




          <mat-expansion-panel class="mat-grid-tile expand expansion-look">

            <mat-expansion-panel-header class="expand">

              <mat-panel-title>
                1
              </mat-panel-title>

              <mat-panel-description>
                primul
              </mat-panel-description>

            </mat-expansion-panel-header>

            FIRST
          </mat-expansion-panel>


          <mat-grid-tile>
            <mat-expansion-panel class="mat-grid-tile" >

              <mat-expansion-panel-header>

                <mat-panel-title>
                  1
                </mat-panel-title>

                <mat-panel-description>
                  primul
                </mat-panel-description>

              </mat-expansion-panel-header>
              FIRST
            </mat-expansion-panel>
          </mat-grid-tile>


          <!--<mat-expansion-panel>-->

            <!--<mat-expansion-panel-header>-->

              <!--<mat-panel-title>-->
                <!--1-->
              <!--</mat-panel-title>-->

              <!--<mat-panel-description>-->
                <!--primul-->
              <!--</mat-panel-description>-->

            <!--</mat-expansion-panel-header>-->
            <!--FIRST-->
          <!--</mat-expansion-panel>-->




          <!--<mat-expansion-panel>-->

            <!--<mat-expansion-panel-header>-->

              <!--<mat-panel-title>-->
                <!--1-->
              <!--</mat-panel-title>-->

              <!--<mat-panel-description>-->
                <!--primul-->
              <!--</mat-panel-description>-->

            <!--</mat-expansion-panel-header>-->
            <!--FIRST-->
          <!--</mat-expansion-panel>-->




          <!--<mat-expansion-panel>-->

            <!--<mat-expansion-panel-header>-->

              <!--<mat-panel-title>-->
                <!--1-->
              <!--</mat-panel-title>-->

              <!--<mat-panel-description>-->
                <!--primul-->
              <!--</mat-panel-description>-->

            <!--</mat-expansion-panel-header>-->
            <!--FIRST-->
          <!--</mat-expansion-panel>-->



          <!--<mat-grid-tile>Third</mat-grid-tile>-->
          <!--<mat-grid-tile>Fourth</mat-grid-tile>-->
          <!--<mat-grid-tile>Fifth</mat-grid-tile>-->
        </mat-grid-list>
        <mat-divider></mat-divider>
        <mat-list-item>Most appreciated</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Recently added</mat-list-item>
      </mat-list>


    </table>
  </mat-card-content>
</mat-card>

