<mat-card class="login-card">
  <mat-card-header class="login-header">
    <mat-card-title>Welcome on Wise Traveller!</mat-card-title>
  </mat-card-header>
  <mat-card-content class="dividers">
    <table class="example-full-width">


      <mat-list class="divid">
        <mat-list-item>
          <span>Near you</span>
        </mat-list-item>
        <!--<button mat-button (click)="select(0)">text</button>-->
        <!--<button mat-button (click)="select(1)">text</button>-->
        <!--<div *ngIf="isSelected()">-->
        <!--<img [src]="getSelected().image" />-->
        <!--<p>{{getSelected().text}}</p>-->
        <!--</div>-->


        <mat-grid-list cols="5" rowHeight="1:1.65">


          <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">
            <button mat-button class="expand" (click)="openDialog()">
              {{locationname}}
              <mat-list>
              </mat-list>
              <img src="{{tile.image}}" width="90%" height="90%">
              <mat-list>
                  <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span></ng-template>
                  <ngb-rating class="rate-text" [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
              </mat-list>
              <p class="current-rate">Current rate: <b>{{currentRate}}</b></p>
            </button>
          </mat-grid-tile>
        </mat-grid-list>


        <mat-divider></mat-divider>
        <mat-list-item>Most appreciated</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Recently added</mat-list-item>
      </mat-list>


      <!-- Copyright 2019 Google Inc. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->

    </table>
  </mat-card-content>
</mat-card>

